* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #efefef;
}

.wrap_top h3, .wrap_top span {
  color: red;
}

.wrap_logo img {
  height: 30px;
}

.wrapper {
  width: 1281px;
  height: calc(100vh - 100px);
  margin: 50px auto;
  background-color: white;
  /* padding: 0 50px; */
  box-shadow: 2px 2px 20px black;
  overflow-y: auto;
  border-radius: 10px;
}

.wrap_search {
  display: flex;
  align-items: center;
}

.wrap_logo {
  margin-right: 50px;
}
.wrap_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1281px;
  height: 90px;
  position: fixed;
  z-index: 10;
  background-color: #000;
  padding-left: 50px;
  border: 1px solid darkgrey;
}

#list-movies li {
  padding: 15px 0px;
}

#list-movies {
  margin-top: 90px;
  margin-left: 50px;
}

.main {
  margin-top: 70px;
  height: calc(100% - 70px);
}

.input_search {
  background-color: #000;
  color: #fff;
  padding: 5px;
  height: 30px;
  width: 250px;
  font-size: 20px;
}

.btn {
  height: 30px;
  width:80px;
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 3px;
  transition: all 0.2s;
  margin: 0px 20px;
}

.btn:hover {
  background-color: #efefef;
  cursor: pointer;
}

.ico_flag {
  margin-left: 5px;
  width: 25px;
}

.wrap_lingua {
  display: flex;
  align-items: center;
}

.wrap_vote .fas {
  color: #daaf37;
}
