* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #434343;
}

.wrapper {
  /* width: 100%; */
  min-width: 450px;
  padding-bottom: 30px;
}

.wrap_top {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

.wrap_main {
  margin-top: 90px;
}

.wrap_top h3 {
  color: red;
}

.wrap_top span {
  color: white;
  font-size: 12px;
  font-weight: normal;
}

.wrap_logo img {
  height: 30px;
}

.wrap_search_results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap_search {
  display: flex;
  align-items: center;
  margin-left: 2%;
}

.wrap_logo {
  margin-right: 2%;
}


#list-movies, #list-tv {
  display: flex;
  flex-wrap: wrap;
}

#list-movies {
  background-image: linear-gradient(to bottom, #434343 , black);
}

#list-tv {
  background-image: linear-gradient(to bottom, black, #434343);
}

.input_search {
  background-color: #000;
  color: #fff;
  padding: 5px;
  height: 30px;
  width: 250px;
  font-size: 14px;
  border: 1px solid #fff;
}

.input_search::placeholder {
  font-size: 14px;
}

.btn {
  height: 30px;
  width:80px;
  background-color: rgba(255,255,255,0.6);
  border: 2px solid lightgrey;
  border-radius: 3px;
  transition: all 0.2s;
  margin: 0px 20px;
  color: #000;
}

.btn:hover {
  background-color: #efefef;
  cursor: pointer;
}

/* WRAP MAIN */

.ico_flag {
  /* margin-left: 5px; */
  width: 25px;
}

.wrap_lingua {
  display: flex;
  align-items: center;
}

.lingua_flag {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.wrap_vote .fas {
  color: #daaf37;
}

.title-box {
  position: relative;
  width: calc(90% / 4);
  border: 2px solid white;
  margin: 2% 0 0 2%; */
  color: #fff;
}

.film-info {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 14px;
  color: #fff;
  background-color: rgba(10, 10, 10, 0.90);
  transition: all 0.3s;
  overflow: hidden;
}

.film-poster {
  font-size: 0px;
  width: 100%;
  max-height: 480px;
}

.overview {
  margin-top: 5px;
}

.film-info:hover {
  opacity: 1;
  cursor: pointer;
}

.wrap_poster {
  position: relative;
}

.title-noposter {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #e30914;
  color: #fff;
  font-size: 20px;
}

.title-noposter p {
  text-align: center;
}

.title-type {
  background-color: red;
  color: white;
  font-size: 20px;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}

.hai_cercato, .titoli_trovati {
  display: none;
  font-size: 14px;
  font-weight: 700;
}


.logo_min {
  display: none;
}

.esito_ricerca {
  color: #fff;
  display: none;
}

.active {
  display: block;
}


/* MEDIA QUERY */

 @media screen and (max-width: 1280px) {

  .title-box {
    width: calc(90% / 3);
    border: 2px solid white;
    margin: 2.5% 0 0 2.5%; */
  }

  .wrap_search {
    margin-left: 2.5%;
  }

  .wrap_logo {
    margin-right: 2.5%;
  }

  .film-poster {
    max-height: 550px;
  }

}


@media screen and (max-width: 991px) {

  .title-box {
   width: calc(91% / 2);
   border: 2px solid white;
   margin: 3% 0 0 3%;
  }

  .wrap_search {
    margin-left: 3%;
  }

  .wrap_logo {
    margin-right: 3%;
  }


  .film-poster {
    max-height: 660px;
  }

  .film-info {
    font-size: 16px;
  }


}

@media screen and (max-width: 768px) {

  .film-info {
    font-size: 14px;
  }

  .wrap_search_results {
    display: none;
  }

  .esito_ricerca {
    margin-left: 3%;
  }


}

@media screen and (max-width: 600px) {

  .title-box {
    width: 90%;
    border: 2px solid white;
    margin: 5% 5% 0 5%;
  }

  .logo_min {
    display: block;
  }

  .logo_max {
    display: none;
  }

  .wrap_search {
    margin-left: 5%;
  }

  .wrap_logo {
    margin-right: 5%;
  }

  .esito_ricerca {
    margin-left: 5%;
  }

  .film-poster {
    max-height: 735px;
  }

  .film-info {
    font-size: 20px;
  }

  .wrap_search_results {
    display: none;
  }

}
